<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Rus-Uz Lug'at</span>
      <div class="spacer"></div>     
      <button 
            mat-raised-button 
            class="custom-btn" 
            color="success"
            [routerLink]="['/jadval']" 
            routerLinkActive="link-active">
        Jadval
      </button>
      <button 
            mat-raised-button 
            class="custom-btn"
            [routerLink]="['/qoshish']" 
            routerLinkActive="link-active">
        Qo'shish
      </button>
    </mat-toolbar-row>

   
  </mat-toolbar>