table {
    min-width: 100%;
    max-width: 1230px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .act-td{
      width: 7% !important;
  }
  