.mat-elevation-z8{
  overflow: auto;
}
table {

   width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
    margin: 0 15px;
  }
  .bx-nn{
    box-shadow: none !important;
  }
  .act-td{
      width: 7% !important;
  }
  